@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: None;
}

body {
    font-family: 'Lora', serif;
    line-height: 1.6;
}

header {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-weight: 500;
    text-align: left;
    padding-left: 0;
}

header,
h3 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

h2,
p {
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

/* ------------------header section-------------------- */
nav {
    display: flex; /* make the navigation controllable by flexbox*/
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a {
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

/* setting the width, height, and other
   properties for this section's background image.
*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,0,30,0.7), rgba(4,0,30,0.7)), url(../images/life.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo {
    letter-spacing: 4px;
    text-transform: uppercase;
}

/* sets how the navigation menu items will grow
   or shrink to contain the space available in 
   their parent container.
*/
.nav-links {
    flex: 1; 
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

/* The ::after pseudo-element is used to add styling 
   or cosmetic content to the li or navigation menu 
   items, using the "content" property. Here, it is
   used to set properties that will ensure the dark red 
   underline (representing or outlining the width of the
   value added using the "content" property), which would
   otherwise be visible to the user just beneath each navigation
   menu item, is permanently hidden from view. As well as setting
   some other properties for the underline.

*/
.nav-links ul li::after {
    content:"";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/* The ::after pseudo-element is used here to implement the
   the size of the width for the dark red underline effect 
   seen by the user whenever they hover over any of the 
   navigation menu items.
*/
.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

/* Hide icons for larger screen devices */
nav .fa {
    display: none;
}

/* media query */
@media(max-width: 820px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px; /* hide open menu on smaller screens */
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .logo {
        font-size: 16px;
    }
}

/* ------------------recent-posts section-------------------- */

/* setting the width, height, and other
   properties for this section's background image).
*/
.sub-header-recent {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,0,30,0.7), rgba(4,0,30,0.7)), url(../images/food.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

/* setting the width and other properties for this 
   section's layout).
*/
.recent-posts {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.hero-heading-recent {
    margin-top: 50px;
}

.article-info,
.article-content {
    text-align: left;
    padding-left: 0;
}

/* display each column of items side by side */
.row {
    margin-top: 5%;
    display: flex; /* make the contents controllable by flexbox*/
    justify-content: space-between;

}

/* This style rule determines the amount of
   space each column of items will occupy in
   the row after applying a display of flex
   to the parent (the div with class .row).
   This changes the direction in which the 
   child elements (in this case the different
   columns representing the different posts) 
   are positioned, from each column of items 
   stacking on top of one another, to each column
   of items appearing side by side instead.  
*/
.recent-posts-col {
    flex-basis: 31%; /* apportion space for each column of items */
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

/* sets the color of the h3 elements contained
   within each column to the value specified  
*/
.recent-posts-col h3 {
    color: #137;
}

/* sets the font weight of the paragraph elements contained
   within each column to the value specified  
*/
.recent-posts-col p {
    font-weight: 400;
}

/* This style CSS rule adds the shadow effect seen by
   user when they hover over any of the column of items
   in the recent-posts section.
*/
.recent-posts-col:hover {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

/* media query */
@media(max-width: 820px) {
    .row {
        flex-direction: column;
    }
}


.image-about-me {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 2em;
}

/* ====================
Typography
==================== */

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #137;
}

h1 {
    font-size: 2rem;
}

h3 {
    color: #19D;
}

a {
    color: #19d;
}

a:hover,
a:focus {
    color: #137;
}

strong {
    font-weight: 700;
}

/* h1 subtitle */

.subtitle {
    font-weight: 700;
    color: #19D;
    font-size: .75rem;
    text-transform: uppercase;
}

.article-title {
    font-size: 1.5rem;
    margin-bottom: 0.8em;
}

.continue-reading,
.article-info {
    font-size: 0.875rem;
}

.continue-reading {
    color: #19d;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.continue-reading:hover,
.continue-reading:focus {
    color: #137;
    text-decoration: underline;
}

.article-info {
    margin: 2em 0;
}

.article-content {
    margin-bottom: 1em;
}

.widget-title,
.widget-recent-post-title {
    font-size: 1rem;
    line-height: 1.4;
}

.widget-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.7em;
    letter-spacing: 1px;
}

.widget-recent-post-title {
    color: #137;
}

/* ====================
Layout
==================== */

.container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }

    main {
        width: 70%;
    }

    aside {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
}

/* Navigation */

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.nav-list-item {
    margin-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: #777;
    font-weight: 700;
    padding: .25em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link:hover,
.nav-link:focus {
    color: #19D;
}

.current-page {
    border-bottom: 1px solid #777;
}

.current-page:hover {
    color: #777;
}

@media (max-width: 675px) {
    .nav-list {
        flex-direction: column;
    }

    .nav-list-item {
        margin: 0.5em 0;
    }
}

/* articles */

.article-featured {
    border-bottom: 1px solid #777;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-recent-main {
    order: 2;  /* switching the visual order of items */
}

.article-recent-secondary {
    order: 1;  /* switching the visual order of items */
}

@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 68%;
    }

    .article-recent-secondary {
        width: 30%;
    }

    .article-featured {
        display: flex;
        flex-direction: column;
    }

    .article-image {
        order: -1;  /* switching the visual order of items */
    }

    .article-info {
        order: -1;  /* switching the visual order of items */
    }

    .article-image {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }

    .article-image-left {
        object-position: left;
    }
}

/* widgets */

.sidebar-widget {
    border: 20px solid #eee;
    margin-bottom: 2em;
    padding: 1em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #777;
    margin-bottom: 1em;
}

.widget-recent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-recent-post-title {
    order: 2;  /* changing the order of display */
    margin-bottom: 1em;
}

/* ====================
Footer
==================== */

footer {
    background: #137;
    color: rgba(255, 255, 255, .65);
    text-align: center;
    padding: 3em 0;
}

/* ====================
About me
==================== */

.about-me-main-heading,
.about-me-sub-heading,
.about-me-paragraph {
    margin-bottom: 0.4em;
}

/* ====================
Form
==================== */

input,
button {
    font-family: inherit;
    padding: 0.5em;
    background-color: lightgoldenrodyellow;
    border-radius: 50px;
    border: 1px solid #777;
}

h2,
p {
    text-align: center;
}

input {
    margin-bottom: 1em;
    width: 85%;
    height: 85%;
}

.main-content {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.form-newsletter {
    margin-bottom: 90px;
}

.btn {
    display: inline-block;
    width: 94%;
    height: 94%;
    font-size: inherit;
}

.btn:hover {
    background-color: #eee;
}

.btn:focus {
    background-color: #777;
}

















