@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: None;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

/* ====================
Typography
==================== */

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #137;
}

h1 {
    font-size: 2rem;
}

a {
    color: #19d;
}

a:hover,
a:focus {
    color: #137;
}

strong {
    font-weight: 700;
}

/* h1 subtitle */
.subtitle {
    font-weight: 700;
    color: #19D;
    font-size: .75rem;
}

.article-title {
    font-size: 1.5rem;
}

.continue-reading,
.article-info {
    font-size: 0.875rem;
}

.continue-reading {
    color: #19d;
    text-decoration: none;
    font-weight: 700;
}

.continue-reading:hover,
.continue-reading:focus {
    color: #137;
    text-decoration: underline;
}

/* ====================
Layout
==================== */

.container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

.container-align {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
}

/* Navigation */

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.nav-list-item {
    margin-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: #777;
    font-weight: 700;
    padding: .25em 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #19D;
}

.current-page {
    border-bottom: 1px solid #777;
}

.current-page:hover {
    color: #777;
}

